* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/* Tablet Breakpoint MediaQuery */
/* Mobile Breakpoint MediaQuery */
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/segoeuil.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/seguili.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/segoeuisl.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/seguisli.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/segoeui.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/segoeuii.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/seguisb.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/seguisbi.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/segoeuib.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/segoeuiz.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/seguibl.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/seguibli.ttf);
  font-weight: 900;
  font-style: italic;
}
body {
  display: flex;
  align-items: stretch;
  flex-shrink: none;
  flex-direction: column;
}
body nav,
body footer,
body #app {
  flex-shrink: 0;
}

#app {
  flex: 1;
}

nav {
  padding-top: 22px;
  height: 107px;
  border-bottom: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Segoe UI";
  padding: 22px 13px 0 13px;
  position: relative;
}
nav a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
nav .active {
  font-weight: 700;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8vw;
}
nav .logo img {
  height: 73px;
  width: 73px;
}
nav .logo p {
  font-weight: 400 !important;
  transform: translateY(14px);
  font-size: 16px;
}
nav .search {
  max-width: 30%;
  margin: min(1vw, 10px);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .search .input {
  height: 44px;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
nav .search .input input {
  max-width: 604px;
  border: 0;
  background-color: #c4d0d3;
  opacity: 100%;
  color: #6b7274;
  height: 100%;
  width: 100%;
  padding-left: 42px;
}
nav .search .input img {
  opacity: 45%;
  padding: 8px 0 11px 9px;
  height: 44px;
  position: absolute;
  left: 0;
}
nav .clickables {
  transform: none;
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 0.5;
}
nav .clickables .links {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  margin-right: 2.7vw;
}
nav .clickables .links a:hover {
  text-decoration: underline;
}
nav .clickables .navAccountButtons a:hover {
  text-decoration: underline;
}
nav .clickables .navAccountButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.8vw;
}
nav .clickables .navAccountButtons a {
  padding-right: 60px;
  color: #000000;
  vertical-align: middle;
  position: relative;
}
nav .clickables .navAccountButtons a img {
  transform: translateX(12px);
  position: absolute;
  top: -12px;
  height: 47px;
}
nav .clickables .navAccountButtons a .cartImg {
  padding-right: 0px;
  transform: translateX(0px);
}
nav .mobileClickables {
  display: none;
  overflow: none;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 100;
  bottom: 0;
  flex-direction: column;
  transform: translateY(100%) scaleY(0);
  transition-property: transform;
  transition-timing-function: linear;
  transition-duration: 0;
  transform-origin: top;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  padding-top: 17px;
  background-color: rgba(0, 0, 0, 0.142);
}
nav .mobileClickables .links a:hover {
  text-decoration: underline;
}
nav .mobileClickables .navAccountButtons a:hover {
  text-decoration: underline;
}
nav .mobileClickables .links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 17px;
}
nav .mobileClickables .navAccountButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid black;
  width: 60%;
  flex-direction: column;
  padding-top: 10px;
}
nav .mobileClickables .navAccountButtons a {
  margin-bottom: 10px;
}
nav .mobileClickables .navAccountButtons a img {
  position: relative;
  top: 8px;
  height: 30px;
}
nav .hamburgerMenu {
  display: none;
}
nav .hamburgerMenu img {
  cursor: pointer;
  height: 20px;
}

/* Tablet Breakpoint MediaQuery */
@media (max-width: 768px) {
  nav {
    padding: 22px 2.5vw 0 2.5vw;
    position: relative;
  }
  nav .hamburgerMenu {
    display: none;
  }
  nav .hamburgerMenu img {
    cursor: pointer;
    height: 20px;
  }
  nav .logo img {
    height: 45px;
    width: 45px;
  }
  nav .clickables {
    display: none;
  }
  nav .mobileClickables {
    display: flex;
    opacity: 1;
  }
  nav .search {
    max-width: 39%;
  }
  nav .search .input {
    max-height: 23px !important;
  }
  nav .search .input input {
    padding-left: 23px;
    font-size: 15px;
  }
  nav .search .input img {
    height: 36px;
    margin-left: -7px;
    transform: translateY(1px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  nav .hamburgerMenu {
    display: block;
  }
}
/* Mobile Breakpoint MediaQuery */
@media (max-width: 390px) {
  nav {
    padding: 22px 2.5vw 0 2.5vw;
  }
  nav .logo img {
    height: 30px;
    width: 30px;
  }
  nav .logo p {
    font-size: 13px;
  }
  nav .search {
    height: 23px;
  }
  nav .search .input {
    max-height: 16px !important;
  }
  nav .search .input input {
    padding-left: 17px;
    font-size: 10px;
  }
  nav .search .input img {
    height: 30px;
    margin-left: -7px;
    transform: translateY(1px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  nav .clickables {
    display: none;
  }
  nav .search {
    max-width: unset;
    max-width: 39%;
  }
  nav .hamburgerMenu {
    display: block;
  }
  nav .hamburgerMenu img {
    cursor: pointer;
    height: 13px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 92px;
  background-color: #587c83;
  font-family: Segoe UI;
  padding: 0 20px;
}

.copy {
  color: white;
  width: 230px;
  font-size: 16px;
  white-space: nowrap;
}
.copy p {
  margin: 0;
}

.flinks {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
}
.flinks a {
  text-decoration: none;
  color: white;
}

.flogos {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: space-around;
}
.flogos .fb,
.flogos .in,
.flogos .tw {
  width: 44px;
  height: 44px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.flogos .fb {
  background-image: url(../assets/logos/white/facebook_w.png);
}
.flogos .in {
  background-image: url(../assets/logos/white/instagram_w.png);
}
.flogos .tw {
  background-image: url(../assets/logos/white/twitter_w.png);
}

@media (min-width: 390px) and (max-width: 768px) {
  footer {
    flex-direction: row;
    height: 92px;
    padding: 0 20px;
  }
  .flinks {
    max-width: none;
    font-size: 11px;
    justify-content: space-evenly;
    margin: 0;
  }
  .copy {
    font-size: 11px;
  }
  .flogos {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .flogos .fb,
  .flogos .in,
  .flogos .tw {
    width: 22px;
    height: 22px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 390px) {
  footer {
    flex-direction: row;
    height: 92px;
    padding: 0 20px;
  }
  .flinks {
    max-width: none;
    font-size: 6px;
    justify-content: space-evenly;
    margin: 0;
  }
  .copy {
    font-size: 6px;
  }
  .flogos {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .flogos .fb,
  .flogos .in,
  .flogos .tw {
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.home {
  margin-top: 158px;
}
.home .hero {
  width: 90%;
  max-width: 1500px;
  aspect-ratio: 1500/530;
  background-image: url("../assets/home-hero.jpg");
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #587c83;
  padding-right: 182px;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 176px;
  color: #ffffff;
  position: relative;
}
.home .hero .overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #8fa5a9;
  opacity: 60%;
  color: white;
  position: absolute;
  z-index: 0;
}
.home .hero .text {
  z-index: 10;
}
.home .hero .text h3 {
  line-height: 1em;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 22px;
}
.home .hero .text p {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 400;
}
.home .bookShowcase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  gap: 60px;
  max-width: 1650px;
  margin: 0 auto;
  margin-bottom: 188px;
}
.home .bookShowcase .bookItem {
  flex: 1;
  text-align: center;
  max-width: 413px;
}
.home .bookShowcase .bookItem .cover {
  margin: 0 auto;
  max-width: 322px;
  background-image: url("../assets/to-kill-a-mockingbird.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 322/491;
  margin-bottom: 49px;
}
.home .bookShowcase .bookItem .description {
  font-size: 16px;
  margin-bottom: 45px;
}
.home .bookShowcase .bookItem .price {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 46px;
}
.home .bookShowcase .bookItem .addToCartBtn {
  all: unset;
  margin: 0;
  list-style: none;
  max-width: 222px;
  height: 68px;
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  background-color: none;
  cursor: pointer;
  text-align: center;
  border: 1px solid #000000;
  width: calc(100% - 2px);
}
.home .bookShowcase .bookItem .addToCartBtn:hover {
  background-color: rgb(226, 223, 223);
}
.home .bookShowcase .bookItem .addToCartBtn:active {
  background-color: rgb(192, 188, 188);
}

/* Tablet Breakpoint MediaQuery */
@media (max-width: 768px) {
  .home {
    margin-top: 88px;
  }
  .home .hero {
    background-size: 43%;
    height: 329px;
    max-width: 552px;
    padding-right: 15%;
    background-position: 25%;
    background-repeat: no-repeat;
  }
  .home .hero .overlay {
    opacity: 0%;
  }
  .home .hero .text h3 {
    line-height: 1em;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 22px;
  }
  .home .hero .text p {
    padding-left: 0px;
    font-size: 7px;
    font-weight: 400;
  }
  .home .bookShowcase {
    flex-direction: column;
  }
  .home .bookShowcase .bookItem .cover {
    margin-bottom: 69px;
    max-width: 175px;
  }
  .home .bookShowcase .bookItem .description,
  .home .bookShowcase .bookItem .price {
    margin-bottom: 24px;
    font-size: 11px;
  }
  .home .bookShowcase .bookItem .addToCartBtn {
    width: 183px;
    height: 49px;
    font-size: 12px;
  }
}
/* Mobile Breakpoint MediaQuery */
@media (max-width: 390px) {
  .home {
    margin-top: 55px;
  }
  .home .hero {
    background-size: 40%;
    padding-right: 7%;
    background-position: 29px;
    background-repeat: no-repeat;
    height: 193px;
  }
  .home .hero .text h3 {
    line-height: 1em;
    font-size: 6px;
    font-weight: 700;
    margin-bottom: 22px;
  }
  .home .hero .text p {
    padding-left: 0px;
    font-size: 6px;
    font-weight: 400;
  }
  .home .bookShowcase {
    flex-direction: column;
  }
  .home .bookShowcase .bookItem .cover {
    margin-bottom: 15px;
    max-width: 70px;
  }
  .home .bookShowcase .bookItem .description,
  .home .bookShowcase .bookItem .price {
    margin-bottom: 7px;
    font-size: 6px;
  }
  .home .bookShowcase .bookItem .addToCartBtn {
    width: 114px;
    height: 30px;
    font-size: 6px;
  }
}
.account {
  margin-top: 188px;
  display: flex;
  row-gap: 80px;
  margin-bottom: 70px;
}
.account .form {
  flex: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.account .form form {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  max-width: 232px;
}
.account .form form p {
  text-align: center;
  margin: 0;
  height: 0;
  transform: translateY(15px);
  color: rgb(16, 150, 16);
  text-shadow: 0px 0px 1px black;
}
.account .form form h2 {
  margin-bottom: 43px;
  font-size: 26px;
  font-weight: 400;
}
.account .form form span {
  margin: 0 0 -2px 0;
}
.account .form form input {
  border: 0;
  border-bottom: 1px solid #000000;
  background-color: transparent;
  color: black;
  width: 100%;
  max-width: 233px;
  margin-bottom: 43px;
}
.account .form form button {
  cursor: pointer;
  width: 100%;
  border: 0;
  max-width: 170px;
  margin: 0 auto;
  height: 45px;
  color: #ffffff;
  font-size: 16px;
  background-color: #587c83;
}
.account .form form button:active {
  background-color: #2b535b;
}

::placeholder {
  color: inherit;
  opacity: 1; /* Firefox */
}

/* Tablet Breakpoint MediaQuery */
@media (max-width: 768px) {
  .account {
    margin-top: 95px;
    flex-direction: column;
  }
  .account .form form {
    max-width: 233px;
  }
  .account .form form p {
    font-size: 11px;
  }
  .account .form form span {
    font-size: 11px;
    margin-bottom: 16px;
  }
  .account .form form h2 {
    margin-bottom: 52px;
    font-size: 12px;
    font-weight: 400;
  }
  .account .form form input {
    font-size: 11px;
    margin-bottom: 55px;
  }
  .account .form form input:last-of-type {
    margin-bottom: 30px;
  }
  .account .form form button {
    max-width: 112px;
    height: 37px;
    font-size: 12px;
  }
}
/* Mobile Breakpoint MediaQuery */
@media (max-width: 390px) {
  .account {
    margin-top: 95px;
    flex-direction: column;
  }
  .account .form form {
    max-width: 138px;
  }
  .account .form form p {
    font-size: 6px;
  }
  .account .form form span {
    font-size: 6px;
    margin-bottom: 11px;
  }
  .account .form form h2 {
    margin-bottom: 23px;
    font-size: 6px;
    font-weight: 400;
  }
  .account .form form input {
    font-size: 6px;
    margin-bottom: 47px;
  }
  .account .form form input:last-of-type {
    margin-bottom: 40px;
  }
  .account .form form button {
    max-width: 68px;
    height: 25px;
    font-size: 6px;
  }
}
.about {
  width: 100%;
}
.about .aboutSecOne {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 90%;
  gap: 40px;
  margin: 0 auto;
  margin-top: 170px;
}
.about .aboutSecOne .aboutImageOne {
  flex: 1;
  margin-top: 43px;
  background-image: url(../assets/about-photo.jpg);
  max-width: 393px;
  aspect-ratio: 393/587;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px #707070;
}
.about .aboutSecOne .aboutText {
  max-width: 800px;
  flex: 1;
  min-width: auto;
}
.about .aboutSecOne .aboutText .aboutTitle {
  font-size: 20px;
  text-align: center;
  font-family: Segoe UI;
  max-width: auto;
}
.about .aboutSecOne .aboutText .aboutFounder {
  text-align: center;
  font-size: 16px;
  font-family: Segoe UI;
  margin-top: 40px;
}
.about .aboutSecOne .aboutText .aboutPg {
  font-size: 13px;
  font-weight: bold;
}
.about .aboutSecTwo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 90%;
  gap: 40px;
  margin: 0 auto;
  margin-top: 170px;
  margin-bottom: 291px;
}
.about .aboutSecTwo .aboutImageTwo {
  flex: 1;
  margin-top: 43px;
  background-image: url(../assets/about-photo-two.jpg);
  max-width: 393px;
  aspect-ratio: 393/587;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px #707070;
}
.about .aboutSecTwo .aboutText2 {
  max-width: 800px;
  flex: 1;
  min-width: auto;
}
.about .aboutSecTwo .aboutText2 .aboutTitle2 {
  font-size: 20px;
  text-align: center;
  font-family: Segoe UI;
  max-width: auto;
  margin-bottom: 61px;
}
.about .aboutSecTwo .aboutText2 .aboutPg2 {
  font-size: 13px;
  font-weight: bold;
}

@media (max-width: 769px) {
  .about {
    height: 1163px;
  }
  .about .aboutSecOne .aboutImageOne {
    flex: 1;
    margin-top: 43px;
    background-image: url(../assets/about-photo.jpg);
    max-width: 208px;
    aspect-ratio: 208/343;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about .aboutSecOne .aboutText {
    max-width: 800px;
    flex: 1;
    min-width: auto;
  }
  .about .aboutSecOne .aboutText .aboutTitle {
    font-size: 12px;
    text-align: center;
    font-family: Segoe UI;
    max-width: auto;
  }
  .about .aboutSecOne .aboutText .aboutFounder {
    text-align: center;
    font-size: 8px;
    font-family: Segoe UI;
    margin-top: 40px;
  }
  .about .aboutSecOne .aboutText .aboutPg {
    font-size: 11px;
    font-weight: bold;
  }
  .about .aboutSecTwo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 90%;
    gap: 40px;
    margin: 0 auto;
    margin-top: 170px;
  }
  .about .aboutSecTwo .aboutImageTwo {
    flex: 1;
    margin-top: 43px;
    background-image: url(../assets/about-photo-two.jpg);
    max-width: 208px;
    aspect-ratio: 208/343;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about .aboutSecTwo .aboutText2 {
    max-width: 800px;
    flex: 1;
    min-width: auto;
  }
  .about .aboutSecTwo .aboutText2 .aboutTitle2 {
    font-size: 12px;
    text-align: center;
    font-family: Segoe UI;
    max-width: auto;
    margin-bottom: 61px;
  }
  .about .aboutSecTwo .aboutText2 .aboutPg2 {
    font-size: 11px;
    font-weight: bold;
  }
}
@media (max-width: 390px) {
  .about {
    height: 844px;
  }
  .about .aboutSecOne .aboutImageOne {
    flex: 1;
    margin-top: 43px;
    background-image: url(../assets/about-photo.jpg);
    max-width: 208px;
    aspect-ratio: 208/343;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about .aboutSecOne .aboutText {
    max-width: 800px;
    flex: 1;
    min-width: auto;
  }
  .about .aboutSecOne .aboutText .aboutTitle {
    font-size: 6px;
    text-align: center;
    font-family: Segoe UI;
    max-width: auto;
  }
  .about .aboutSecOne .aboutText .aboutFounder {
    text-align: center;
    font-size: 6px;
    font-family: Segoe UI;
    margin-top: 16px;
  }
  .about .aboutSecOne .aboutText .aboutPg {
    font-size: 6px;
    font-weight: bold;
  }
  .about .aboutSecTwo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 90%;
    gap: 40px;
    margin: 0 auto;
    margin-top: 170px;
  }
  .about .aboutSecTwo .aboutImageTwo {
    flex: 1;
    background-image: url(../assets/about-photo-two.jpg);
    max-width: 208px;
    aspect-ratio: 208/343;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8px;
  }
  .about .aboutSecTwo .aboutText2 {
    max-width: 800px;
    flex: 1;
    min-width: auto;
    text-align: center;
  }
  .about .aboutSecTwo .aboutText2 .aboutTitle2 {
    font-size: 6px;
    text-align: center;
    font-family: Segoe UI;
    max-width: auto;
    margin-bottom: 11px;
  }
  .about .aboutSecTwo .aboutText2 .aboutPg2 {
    font-size: 6px;
    font-weight: bold;
  }
}
.books {
  margin-top: 180px;
}
.books p.title {
  font-size: 26px;
  font-weight: bold;
  padding: 0 2.5vw;
}
.books .bookShowcase:last-of-type {
  margin-bottom: 200px;
}
.books .bookShowcase {
  display: flex;
  padding: 0 2.5vw;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 2.5vw;
  row-gap: 90px;
  margin-bottom: 300px;
  flex-wrap: wrap;
}
.books .bookShowcase .bookItem {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 7%;
  flex: 29.4vw;
}
.books .bookShowcase .bookItem .cover {
  max-width: 206px;
  min-width: 100px;
  flex: 1;
  aspect-ratio: 223/315;
  background-image: url("../assets/finding me.jpg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}
.books .bookShowcase .bookItem .details {
  flex: 1;
}
.books .bookShowcase .bookItem .details .description {
  font-size: 16px;
  margin-bottom: 46px;
}
.books .bookShowcase .bookItem .details .price {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 68px;
}
.books .bookShowcase .bookItem .details .addToCartBtn {
  all: unset;
  margin: 0;
  list-style: none;
  max-width: 222px;
  height: 68px;
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  background-color: none;
  cursor: pointer;
  text-align: center;
  border: 1px solid #000000;
  width: calc(100% - 2px);
}
.books .bookShowcase .bookItem .details .addToCartBtn:hover {
  background-color: rgb(226, 223, 223);
}
.books .bookShowcase .bookItem .details .addToCartBtn:active {
  background-color: rgb(192, 188, 188);
}

/* Tablet Breakpoint MediaQuery */
@media (max-width: 768px) {
  .books {
    margin-top: 85px;
  }
  .books p.title {
    font-size: 12px;
    padding-left: 45px;
  }
  .books .bookShowcase {
    margin-bottom: 63.5px;
    row-gap: 63px;
  }
  .books .bookShowcase .bookItem {
    flex: 100%;
    gap: 26px;
  }
  .books .bookShowcase .bookItem .cover {
    max-width: 81px;
    min-width: unset;
  }
  .books .bookShowcase .bookItem .details {
    max-width: 183px;
  }
  .books .bookShowcase .bookItem .details .description {
    font-size: 11px;
    margin-bottom: 16px;
  }
  .books .bookShowcase .bookItem .details .price {
    font-size: 12px;
    margin-bottom: 16px;
  }
  .books .bookShowcase .bookItem .details .addToCartBtn {
    max-width: 126px !important;
    height: 37.5px !important;
    font-size: 11px !important;
  }
}
/* Mobile Breakpoint MediaQuery */
@media (max-width: 390px) {
  .books {
    margin-top: 49px;
  }
  .books p.title {
    font-size: 6px;
    padding-left: 32px;
  }
  .books .bookShowcase {
    margin-bottom: 63.5px;
    row-gap: 131px;
  }
  .books .bookShowcase .bookItem {
    flex: 100%;
    gap: min(10vw - 20px, 26px);
  }
  .books .bookShowcase .bookItem .cover {
    max-width: 53px;
    min-width: unset;
  }
  .books .bookShowcase .bookItem .details {
    max-width: 102px;
  }
  .books .bookShowcase .bookItem .details .description {
    font-size: 6px;
    margin-bottom: 11px;
  }
  .books .bookShowcase .bookItem .details .price {
    font-size: 6px;
    margin-bottom: 11px;
  }
  .books .bookShowcase .bookItem .details .addToCartBtn {
    max-width: 72px !important;
    height: 23px !important;
    font-size: 6px !important;
  }
}
.blog {
  height: 2095px;
}
.blog .section1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 1464px;
  height: 463px;
  align-items: flex-start;
  justify-content: center;
  background-color: #587c83;
  margin: 0 auto;
  margin-top: 170px;
  gap: min(8vw, 114px);
}
.blog .section1 .book1 {
  flex: 1;
  margin-top: 43px;
  background-image: url(../assets/becoming.jpg);
  max-width: 250px;
  aspect-ratio: 250/380;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px #707070;
}
.blog .section1 .book2 {
  background-image: url(../assets/findingme.jpg) !important;
}
.blog .section1 .details {
  color: white;
  max-height: 319px;
  width: 420px;
  text-align: center;
  padding-top: 72px;
  font-family: Segoe UI;
}
.blog .section1 .details .header1 {
  margin-bottom: 62px;
  font-size: 16px;
  font-weight: bold;
}
.blog .section1 .details .pg1 {
  margin-bottom: 62px;
  font-size: 16px;
}
.blog .section1 .details .readMoreButton {
  all: unset;
  margin: 0;
  list-style: none;
  max-width: 222px;
  height: 68px;
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  background-color: none;
  cursor: pointer;
  text-align: center;
  border: 1px solid #000000;
  width: calc(100% - 2px);
  border-color: white;
}
.blog .section1 .details .readMoreButton:hover {
  background-color: rgb(226, 223, 223);
}
.blog .section1 .details .readMoreButton:active {
  background-color: rgb(192, 188, 188);
}
.blog .section2 {
  display: flex;
  align-items: flex-start;
  max-width: 1464px;
  height: 463px;
  align-items: flex-start;
  background-color: #587c83;
  margin: 0 auto;
  margin-top: 170px;
}
.blog .section2 .glasses {
  flex: 1;
  background-image: url(../assets/open-book-blog.jpg);
  max-width: 626px;
  aspect-ratio: 626/464;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px #707070;
}
.blog .section2 .details2 {
  color: white;
  max-height: 319px;
  width: 413px;
  text-align: center;
  padding-top: 72px;
  font-family: Segoe UI;
  margin-left: 258px;
}
.blog .section2 .details2 .header2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 59px;
  width: 450px;
}
.blog .section2 .details2 .pg2 {
  margin-bottom: 30px;
  font-size: 16px;
}
.blog .section2 .details2 .readMoreButton {
  all: unset;
  margin: 0;
  list-style: none;
  max-width: 222px;
  height: 68px;
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  background-color: none;
  cursor: pointer;
  text-align: center;
  border: 1px solid #000000;
  width: calc(100% - 2px);
  border-color: white;
}
.blog .section2 .details2 .readMoreButton:hover {
  background-color: rgb(226, 223, 223);
}
.blog .section2 .details2 .readMoreButton:active {
  background-color: rgb(192, 188, 188);
}
.blog .section3 {
  display: flex;
  align-items: flex-start;
  max-width: 1464px;
  height: 463px;
  align-items: flex-start;
  background-color: #587c83;
  margin: 0 auto;
  margin-top: 170px;
}
.blog .section3 .eRead {
  flex: 1;
  background-image: url(../assets/ereading-blog.jpg);
  max-width: 626px;
  aspect-ratio: 626/464;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px #707070;
}
.blog .section3 .details3 {
  color: white;
  max-height: 319px;
  width: 413px;
  text-align: center;
  padding-top: 72px;
  font-family: Segoe UI;
  margin-left: 258px;
}
.blog .section3 .details3 .header3 {
  margin-bottom: 62px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 59px;
  width: 450px;
}
.blog .section3 .details3 .pg3 {
  margin-bottom: 30px;
  font-size: 16px;
}
.blog .section3 .details3 .readMoreButton {
  all: unset;
  margin: 0;
  list-style: none;
  max-width: 222px;
  height: 68px;
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  background-color: none;
  cursor: pointer;
  text-align: center;
  border: 1px solid #000000;
  width: calc(100% - 2px);
  border-color: white;
}
.blog .section3 .details3 .readMoreButton:hover {
  background-color: rgb(226, 223, 223);
}
.blog .section3 .details3 .readMoreButton:active {
  background-color: rgb(192, 188, 188);
}

@media (max-width: 769px) {
  .blog {
    height: 1424px;
  }
  .blog .section1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 552px;
    max-height: 229px;
    align-items: flex-start;
    justify-content: center;
    background-color: #587c83;
    margin: 0 auto;
    margin-top: 170px;
    gap: 42px;
  }
  .blog .section1 .book1 {
    flex: 1;
    margin-top: 42px;
    background-image: url(../assets/becoming.jpg);
    max-width: 96px;
    aspect-ratio: 96/146;
    background-color: pink;
  }
  .blog .section1 .details {
    color: white;
    max-height: 319px;
    width: 223px;
    text-align: center;
    justify-content: center;
    padding: 0;
    font-family: Segoe UI;
    align-self: center;
  }
  .blog .section1 .details .header1 {
    margin-bottom: 22px;
    font-size: 7px;
    font-weight: bold;
  }
  .blog .section1 .details .pg1 {
    margin-bottom: 14px;
    font-size: 11px;
    width: 223px;
    justify-self: center;
    align-self: center;
  }
  .blog .section1 .details .readMoreButton {
    all: unset;
    margin: 0;
    list-style: none;
    max-width: 222px;
    height: 68px;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    background-color: none;
    cursor: pointer;
    text-align: center;
    border: 1px solid #000000;
    width: calc(100% - 2px);
    width: 50%;
    height: 34px;
    font-size: 12px;
    border-color: white;
  }
  .blog .section1 .details .readMoreButton:hover {
    background-color: rgb(226, 223, 223);
  }
  .blog .section1 .details .readMoreButton:active {
    background-color: rgb(192, 188, 188);
  }
  .blog .section2 {
    display: flex;
    align-items: flex-start;
    max-width: 552px;
    height: 229px;
    align-items: flex-start;
    background-color: #587c83;
    margin: 0 auto;
    margin-top: 170px;
    margin-bottom: 20px;
  }
  .blog .section2 .glasses {
    flex: 1;
    background-image: url(../assets/open-book-blog.jpg);
    min-width: 300px;
    min-height: 229px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #707070;
    position: absolute;
  }
  .blog .section2 .details2 {
    color: white;
    min-height: 223px;
    min-width: 180px;
    padding-top: 20px;
    font-family: Segoe UI;
    margin-left: 320px;
    align-items: center;
    justify-content: center;
  }
  .blog .section2 .details2 .header2 {
    font-size: 7px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 225px;
  }
  .blog .section2 .details2 .pg2 {
    margin-bottom: 0px;
    font-size: 11px;
    margin-bottom: 20px;
    width: 220px;
  }
  .blog .section2 .details2 .readMoreButton {
    all: unset;
    margin: 0;
    list-style: none;
    max-width: 222px;
    height: 68px;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    background-color: none;
    cursor: pointer;
    text-align: center;
    border: 1px solid #000000;
    width: calc(100% - 2px);
    width: 50%;
    height: 34px;
    font-size: 12px;
    border-color: white;
  }
  .blog .section2 .details2 .readMoreButton:hover {
    background-color: rgb(226, 223, 223);
  }
  .blog .section2 .details2 .readMoreButton:active {
    background-color: rgb(192, 188, 188);
  }
  .blog .section3 {
    display: flex;
    align-items: flex-start;
    max-width: 552px;
    height: 229px;
    align-items: flex-start;
    background-color: #587c83;
    margin: 0 auto;
    margin-top: 170px;
    margin-bottom: 20px;
  }
  .blog .section3 .eRead {
    flex: 1;
    background-image: url(../assets/ereading-blog.jpg);
    width: 300px;
    height: 229px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #707070;
    position: absolute;
  }
  .blog .section3 .details3 {
    color: white;
    min-height: 223px;
    min-width: 180px;
    padding-top: 20px;
    font-family: Segoe UI;
    margin-left: 310px;
    justify-content: center;
  }
  .blog .section3 .details3 .header3 {
    font-size: 7px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 225px;
  }
  .blog .section3 .details3 .pg3 {
    margin-bottom: 0px;
    font-size: 11px;
    margin-bottom: 20px;
    width: 220px;
  }
  .blog .section3 .details3 .readMoreButton {
    all: unset;
    margin: 0;
    list-style: none;
    max-width: 222px;
    height: 68px;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    background-color: none;
    cursor: pointer;
    text-align: center;
    border: 1px solid #000000;
    width: calc(100% - 2px);
    width: 50%;
    height: 34px;
    font-size: 12px;
    border-color: white;
  }
  .blog .section3 .details3 .readMoreButton:hover {
    background-color: rgb(226, 223, 223);
  }
  .blog .section3 .details3 .readMoreButton:active {
    background-color: rgb(192, 188, 188);
  }
}
@media (max-width: 390px) {
  .blog {
    height: 844px;
  }
  .blog .section1 {
    display: flex;
    max-width: 318px;
    height: 118px;
    background-color: #587c83;
    margin: 0 auto;
    margin-top: 80px;
    padding: 10px;
    gap: min(8vw, 25px);
  }
  .blog .section1 .book1,
  .blog .section1 .book2 {
    flex: 1;
    background-image: url(../assets/becoming.jpg);
    width: 45px;
    aspect-ratio: 45/69;
    margin-top: 10px;
    height: auto;
  }
  .blog .section1 .details {
    color: white;
    width: 150px;
    font-family: Segoe UI;
    margin-top: -10px;
  }
  .blog .section1 .details .header1 {
    margin-bottom: 0px;
    font-size: 4px;
    font-weight: bold;
    height: 20px;
  }
  .blog .section1 .details .pg1 {
    margin-bottom: 0;
    font-size: 6px;
    width: 142px;
    align-self: center;
    height: 45px;
  }
  .blog .section1 .details .readMoreButton {
    all: unset;
    margin: 0;
    list-style: none;
    max-width: 222px;
    height: 68px;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    background-color: none;
    cursor: pointer;
    text-align: center;
    border: 1px solid #000000;
    width: calc(100% - 2px);
    width: 50%;
    height: 20px;
    font-size: 6px;
    border-color: white;
  }
  .blog .section1 .details .readMoreButton:hover {
    background-color: rgb(226, 223, 223);
  }
  .blog .section1 .details .readMoreButton:active {
    background-color: rgb(192, 188, 188);
  }
  .blog .section2 {
    display: flex;
    align-items: flex-start;
    max-width: 318px;
    height: 122px;
    align-items: flex-start;
    background-color: #587c83;
    margin: 0 auto;
    margin-top: 76px;
    margin-bottom: 20px;
  }
  .blog .section2 .glasses {
    flex: 1;
    background-image: url(../assets/open-book-blog.jpg);
    min-width: 165px;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #707070;
  }
  .blog .section2 .details2 {
    color: white;
    min-height: 84px;
    min-width: 146px;
    font-family: Segoe UI;
    justify-content: center;
    margin-left: 170px;
    margin-top: -10px;
  }
  .blog .section2 .details2 .header2 {
    font-size: 4px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 160px;
    height: 0px;
  }
  .blog .section2 .details2 .pg2 {
    margin-bottom: 0px;
    font-size: 6px;
    margin-bottom: 20px;
    width: 146px;
    height: 20px;
  }
  .blog .section2 .details2 .readMoreButton {
    all: unset;
    margin: 0;
    list-style: none;
    max-width: 222px;
    height: 68px;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    background-color: none;
    cursor: pointer;
    text-align: center;
    border: 1px solid #000000;
    width: calc(100% - 2px);
    width: 50%;
    height: 20px;
    font-size: 6px;
    border-color: white;
  }
  .blog .section2 .details2 .readMoreButton:hover {
    background-color: rgb(226, 223, 223);
  }
  .blog .section2 .details2 .readMoreButton:active {
    background-color: rgb(192, 188, 188);
  }
  .blog .section3 {
    display: flex;
    align-items: flex-start;
    max-width: 318px;
    height: 122px;
    align-items: flex-start;
    background-color: #587c83;
    margin: 0 auto;
    margin-top: 76px;
    margin-bottom: 20px;
  }
  .blog .section3 .eRead {
    flex: 1;
    max-width: 161px;
    max-height: 122px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #707070;
  }
  .blog .section3 .details3 {
    color: white;
    min-height: 84px;
    min-width: 146px;
    font-family: Segoe UI;
    justify-content: center;
    margin-left: 170px;
    margin-top: -10px;
  }
  .blog .section3 .details3 .header3 {
    font-size: 4px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 160px;
    height: 0px;
  }
  .blog .section3 .details3 .pg3 {
    margin-bottom: 0px;
    font-size: 6px;
    margin-bottom: 20px;
    width: 146px;
    height: 20px;
  }
  .blog .section3 .details3 .readMoreButton {
    all: unset;
    margin: 0;
    list-style: none;
    max-width: 222px;
    height: 68px;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    background-color: none;
    cursor: pointer;
    text-align: center;
    border: 1px solid #000000;
    width: calc(100% - 2px);
    width: 50%;
    height: 20px;
    font-size: 6px;
    border-color: white;
  }
  .blog .section3 .details3 .readMoreButton:hover {
    background-color: rgb(226, 223, 223);
  }
  .blog .section3 .details3 .readMoreButton:active {
    background-color: rgb(192, 188, 188);
  }
}
.cart {
  margin-top: 152px;
}
.cart .cartItem:nth-of-type(2) .cover {
  background-image: url("/assets/mlk-biography.jpg");
}
.cart .cartItem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22px;
  padding-left: min(8vw, 135px);
  padding-right: min(8vw, 135px);
  margin: 97px 0px;
  padding-bottom: 97px;
  border-bottom: 1px black solid;
}
.cart .cartItem .cover {
  aspect-ratio: 205/317;
  max-width: 205px;
  flex: 1;
  background-color: red;
  background-image: url("/assets/misery.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cart .cartItem .details {
  flex: 1;
  margin-top: 9px;
}
.cart .cartItem .details h2 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 17px;
}
.cart .cartItem .details h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}
.cart .cartItem .details span {
  font-size: 16px;
}
.cart .cartItem .details .quantity {
  gap: 7px;
  margin-top: 43px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cart .cartItem .details .quantity a {
  text-decoration: underline;
  cursor: pointer;
}

/* Tablet Breakpoint MediaQuery */
@media (max-width: 768px) {
  .cart {
    margin: 0;
  }
  .cart .cartItem {
    gap: 45px;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-left: 64px;
    padding-left: min(9vw, 64px);
    padding-bottom: 45px;
  }
  .cart .cartItem .cover {
    max-width: 69px;
  }
  .cart .cartItem .details h2 {
    font-size: 12px;
    margin-bottom: 14px;
  }
  .cart .cartItem .details h3 {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .cart .cartItem .details span {
    font-size: 12px;
  }
  .cart .cartItem .details .quantity {
    margin-top: 10px;
    font-size: 11px;
    gap: 17px;
  }
}
/* Mobile Breakpoint MediaQuery */
@media (max-width: 390px) {
  .cart {
    margin: 0;
  }
  .cart .cartItem {
    gap: 22px;
    margin-top: 26px;
    margin-bottom: 26px;
    padding-left: 21px;
    padding-bottom: 26px;
  }
  .cart .cartItem .cover {
    max-width: 48px;
  }
  .cart .cartItem .details h2 {
    font-size: 6px;
    margin-bottom: 8px;
  }
  .cart .cartItem .details h3 {
    margin-bottom: 8px;
    font-size: 6px;
  }
  .cart .cartItem .details span {
    font-size: 6px;
  }
  .cart .cartItem .details .quantity {
    margin-top: 8px;
    font-size: 6px;
    gap: 5px;
  }
}
.RM1 {
  height: 2095px;
}
.RM1 .hero1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../assets/february-favorites-hero.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px #707070;
  width: 1464px;
  height: 463px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 140px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.RM1 .hero1 .title {
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  color: white;
  margin-top: -20px;
  margin-bottom: 58px;
}
.RM1 .hero1 .subhead {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 58px;
}
.RM1 .hero1 .subhead2 {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.RM1 .bookSection1 {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 140px;
  width: 100%;
  max-width: 1464px;
  padding: 10px;
}
.RM1 .bookSection1 .bookImg {
  background-image: url(../assets/becoming.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 380px;
  padding: 10px;
  flex-shrink: 0;
}
.RM1 .bookSection1 .info {
  margin-left: 20px;
  padding: 10px;
  flex-grow: 1;
  min-width: 0;
}
.RM1 .bookSection1 .info .bookTitle1 {
  font-size: 1.25rem;
  font-family: Segoe UI;
  font-weight: bold;
}
.RM1 .bookSection1 .info .parag1 {
  margin-top: 58px;
  font-weight: 420;
  font-size: 0.95rem;
  width: 100%;
  overflow-wrap: break-word;
}
.RM1 .bookSection2 {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 140px;
  width: 100%;
  max-width: 1464px;
  padding: 10px;
}
.RM1 .bookSection2 .bookImg {
  background-image: url(../assets/findingme.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 380px;
  padding: 10px;
  flex-shrink: 0;
}
.RM1 .bookSection2 .info {
  margin-left: 20px;
  padding: 10px;
  flex-grow: 1;
  min-width: 0;
}
.RM1 .bookSection2 .info .bookTitle1 {
  font-size: 1.25rem;
  font-family: Segoe UI;
  font-weight: bold;
}
.RM1 .bookSection2 .info .parag1 {
  margin-top: 58px;
  font-weight: 420;
  font-size: 0.95rem;
  width: 100%;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  .RM1 {
    height: 1000px;
  }
  .RM1 .hero1 {
    width: 562px;
    height: 197px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 140px;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .RM1 .hero1 .title {
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  .RM1 .hero1 .subhead {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 21px;
  }
  .RM1 .hero1 .subhead2 {
    color: white;
    font-weight: bold;
    font-size: 0.5rem;
  }
  .RM1 .bookSection1 {
    width: 602px;
    height: 168px;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 81px;
    position: relative;
  }
  .RM1 .bookSection1 .bookImg {
    background-image: url(../assets/becoming.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 150px;
    max-width: 99px;
  }
  .RM1 .bookSection1 .info {
    margin-left: 35px;
    width: 100%;
  }
  .RM1 .bookSection1 .info .bookTitle1 {
    font-size: 0.9rem;
    font-family: Segoe UI;
    font-weight: bold;
    margin-top: -30px;
  }
  .RM1 .bookSection1 .info .parag1 {
    min-width: 467px;
    margin-top: 38px;
    font-weight: 420;
    font-size: 0.8rem;
    font-weight: 550;
  }
  .RM1 .bookSection1 .info .parag1 .secondpg {
    display: none;
  }
  .RM1 .bookSection2 {
    width: 602px;
    height: 168px;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 81px;
    position: relative;
  }
  .RM1 .bookSection2 .bookImg {
    background-image: url(../assets/findingme.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 145px;
    max-width: 96px;
    margin-top: 81px;
  }
  .RM1 .bookSection2 .info {
    margin-left: 35px;
    width: 100%;
    margin-top: 81px;
  }
  .RM1 .bookSection2 .info .bookTitle1 {
    font-size: 0.9rem;
    font-family: Segoe UI;
    font-weight: bold;
    margin-top: -30px;
  }
  .RM1 .bookSection2 .info .parag1 {
    min-width: 467px;
    margin-top: 38px;
    font-weight: 420;
    font-size: 0.8rem;
    font-weight: 550;
  }
  .RM1 .bookSection2 .info .parag1 .secondpg {
    display: none;
  }
}
@media (max-width: 390px) {
  .RM1 {
    height: 844px;
  }
  .RM1 .hero1 {
    width: 310px;
    height: 119px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 140px;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .RM1 .hero1 .title {
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 6px;
    text-transform: uppercase;
    color: white;
    margin-top: -30px;
    margin-bottom: 16px;
  }
  .RM1 .hero1 .subhead {
    color: white;
    font-weight: bold;
    font-size: 0.4rem;
    margin-bottom: 16px;
  }
  .RM1 .hero1 .subhead2 {
    color: white;
    font-weight: bold;
    font-size: 0.4rem;
  }
  .RM1 .bookSection1 {
    width: 228px;
    height: 110px;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 64px;
    position: relative;
    margin-left: 22px;
  }
  .RM1 .bookSection1 .bookImg {
    width: 100%;
    height: 76px;
    max-width: 50px;
  }
  .RM1 .bookSection1 .info {
    margin-left: 22px;
    width: 50%;
  }
  .RM1 .bookSection1 .info .bookTitle1 {
    font-size: 0.5rem;
    font-family: Segoe UI;
    font-weight: bold;
    margin-top: -10px;
  }
  .RM1 .bookSection1 .info .parag1 {
    min-width: 219px;
    height: 85px;
    margin-top: 17px;
    font-weight: 420;
    font-size: 0.4rem;
    font-weight: 550;
  }
  .RM1 .bookSection1 .info .parag1 .secondpg {
    display: none;
  }
  .RM1 .bookSection2 {
    width: 228px;
    height: 110px;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    position: relative;
    margin-left: 22px;
  }
  .RM1 .bookSection2 .bookImg {
    width: 100%;
    height: 76px;
    max-width: 50px;
  }
  .RM1 .bookSection2 .info {
    margin-left: 22px;
    width: 40%;
  }
  .RM1 .bookSection2 .info .bookTitle1 {
    font-size: 0.52rem;
    font-family: Segoe UI;
    font-weight: bold;
    margin-top: -10px;
    width: 150px;
  }
  .RM1 .bookSection2 .info .parag1 {
    min-width: 219px;
    height: 85px;
    margin-top: 17px;
    font-weight: 420;
    font-size: 0.4rem;
    font-weight: 550;
  }
  .RM1 .bookSection2 .info .parag1 .secondpg {
    display: none;
  }
}
.RM2 {
  height: 2095px;
}
.RM2 .hero1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../assets/book-club-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px #707070;
  width: 100%;
  max-width: 1464px;
  height: 463px;
  margin: 0 auto;
  margin-top: 140px;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.RM2 .hero1 .title {
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  color: white;
  margin-top: -20px;
  margin-bottom: 26px;
}
.RM2 .hero1 .subhead2 {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.RM2 .infoSection {
  width: 100%;
  height: auto;
  max-width: 1464px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 20px;
  padding: 20px;
  margin-top: 105px;
}
.RM2 .infoSection .bookImg {
  flex: 1;
  background-image: url(../assets/open-book-blog.jpg);
  max-width: 622px;
  height: auto;
  aspect-ratio: 622/463;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px #707070;
}
.RM2 .infoSection .infoPGS {
  max-width: 50%;
  height: auto;
  overflow: auto;
  font-size: 1rem;
  line-height: 1.5;
  padding: 10px;
}

@media (max-width: 786px) {
  .RM2 {
    height: 800px;
    overflow: hidden;
  }
  .RM2 .hero1 {
    height: 196px;
    margin-top: 63px;
    width: 539px;
    padding: 20px;
  }
  .RM2 .hero1 .title {
    font-size: 12px;
  }
  .RM2 .hero1 .subhead2 {
    font-size: 0.7rem;
  }
  .RM2 .infoSection {
    width: 565px;
    height: 350px;
    margin-top: 83px;
    gap: min(8vw, 44px);
  }
  .RM2 .infoSection .bookImg {
    max-width: 260px;
    aspect-ratio: 260/205;
  }
  .RM2 .infoSection .infoPGS {
    max-width: 261px;
    height: 285px;
    font-size: 11px;
  }
  .RM2 .infoSection .infoPGS .disappearText {
    display: none;
  }
}
@media (max-width: 390px) {
  .RM2 {
    height: 844px;
  }
  .RM2 .hero1 {
    width: 307px;
    height: 121px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 63px;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .RM2 .hero1 .title {
    font-size: 6px;
    line-height: 1.2; /* Increase line height */
  }
  .RM2 .hero1 .subhead2 {
    color: white;
    font-weight: bold;
    font-size: 0.4rem;
  }
  .RM2 .infoSection {
    width: 400px;
    height: auto;
    margin-top: 50px;
    gap: min(8vw, 44px);
    overflow: hidden;
    margin-left: 20px;
  }
  .RM2 .infoSection .bookImg {
    max-width: 114px;
    aspect-ratio: 114/95;
    height: 95px;
  }
  .RM2 .infoSection .infoPGS {
    max-width: 158px;
    height: 447px;
    font-size: 6px;
  }
  .RM2 .infoSection .infoPGS .disappearText {
    display: block;
  }
}
.RM3 {
  height: 2095px;
}
.RM3 .hero1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../assets/eread-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px #707070;
  width: 100%;
  max-width: 1464px;
  height: 463px;
  margin: 0 auto;
  margin-top: 140px;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.RM3 .hero1 .title {
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: white;
  margin-top: -20px;
  margin-bottom: 26px;
}
.RM3 .hero1 .subhead2 {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
.RM3 .infoSection {
  width: 100%;
  height: auto;
  max-width: 1464px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 20px;
  padding: 20px;
  margin-top: 105px;
}
.RM3 .infoSection .bookImg {
  flex: 1;
  background-image: url(../assets/ereading-blog.jpg);
  max-width: 622px;
  height: auto;
  aspect-ratio: 622/463;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px #707070;
}
.RM3 .infoSection .infoPGS {
  max-width: 50%;
  height: auto;
  overflow: auto;
  font-size: 1rem;
  line-height: 1.5;
  padding: 10px;
}

@media (max-width: 786px) {
  .RM3 {
    height: 800px;
    overflow: hidden;
  }
  .RM3 .hero1 {
    height: 196px;
    margin-top: 63px;
    width: 539px;
  }
  .RM3 .hero1 .title {
    font-size: 12px;
  }
  .RM3 .hero1 .subhead2 {
    font-size: 0.7rem;
  }
  .RM3 .infoSection {
    width: 565px;
    height: 350px;
    margin-top: 83px;
    gap: min(8vw, 44px);
  }
  .RM3 .infoSection .bookImg {
    max-width: 260px;
    aspect-ratio: 260/205;
  }
  .RM3 .infoSection .infoPGS {
    max-width: 261px;
    height: 285px;
    font-size: 11px;
  }
  .RM3 .infoSection .infoPGS .disappearText {
    display: none;
  }
}
@media (max-width: 390px) {
  .RM3 {
    height: 844px;
  }
  .RM3 .hero1 {
    width: 307px;
    height: 121px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 63px;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .RM3 .hero1 .title {
    font-size: 6px;
    line-height: 1.2; /* Increase line height */
  }
  .RM3 .hero1 .subhead2 {
    color: white;
    font-weight: bold;
    font-size: 0.4rem;
  }
  .RM3 .infoSection {
    width: 400px;
    height: auto;
    margin-top: 50px;
    gap: min(8vw, 44px);
    overflow: hidden;
    margin-left: 20px;
  }
  .RM3 .infoSection .bookImg {
    max-width: 114px;
    aspect-ratio: 114/95;
    height: 95px;
  }
  .RM3 .infoSection .infoPGS {
    max-width: 158px;
    height: 447px;
    font-size: 6px;
  }
  .RM3 .infoSection .infoPGS .disappearText {
    display: block;
  }
}
