.about {
  height: 2000px;

  .aboutSecOne {
    display: flex;

    .aboutImageOne {
      background-image: url(../assets/about-photo.jpg);
      width: 393px;
      height: 587px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 213px;
      margin-left: 201px;
    }
    .aboutText {
      .aboutTitle {
        font-size: 20px;
        font-family: Segoe UI;
        width: 372px;
        height: 43px;
        margin-top: 170px;
        margin-left: 200px;
      }
      .aboutFounder {
        font-size: 16px;
        font-family: Segoe UI;
        margin-top: 40px;
        margin-left: 280px;
        margin-bottom: 61px;
      }
      .aboutPg {
        margin-left: 40px;
        width: 800px;
        height: 170px;
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
  .aboutSecTwo {
    display: flex;

    .aboutImageTwo {
      background-image: url(../assets/about-photo-two.jpg);
      width: 393px;
      height: 587px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 213px;
      margin-left: 201px;
    }
    .aboutText2 {
      .aboutTitle2 {
        font-size: 20px;
        font-family: Segoe UI;
        width: 372px;
        height: 43px;
        margin-top: 170px;
        margin-left: 200px;
      }

      .aboutPg2 {
        margin-left: 40px;
        width: 800px;
        height: 170px;
        font-size: 13px;
        font-weight: bold;
        margin-top: 61px;
      }
    }
  }
}
