.blog {
  height: 2095px;
  .section1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 1464px;
    height: 463px;
    align-items: flex-start;
    justify-content: center;
    background-color: $site-blue;
    margin: 0 auto;
    margin-top: 170px;
    // gap: 114px;

    gap: min(calc(8vw), 114px);

    .book1 {
      flex: 1;
      margin-top: 43px;
      background-image: url(../assets/becoming.jpg);
      max-width: 250px;
      aspect-ratio: 250 / 380;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: solid 1px #707070;
    }
    .book2 {
      background-image: url(../assets/finding\me.jpg) !important;
    }
    .details {
      color: white;
      max-height: 319px;
      width: 420px;
      text-align: center;
      padding-top: 72px;
      font-family: Segoe UI;
      .header1 {
        margin-bottom: 62px;
        font-size: 16px;
        font-weight: bold;
      }
      .pg1 {
        margin-bottom: 62px;
        font-size: 16px;
      }
      .readMoreButton {
        @include btn-add-to-cart;
        border-color: white;
      }
    }
  }

  .section2 {
    display: flex;
    align-items: flex-start;
    max-width: 1464px;
    height: 463px;
    align-items: flex-start;
    background-color: $site-blue;
    margin: 0 auto;
    margin-top: 170px;

    .glasses {
      flex: 1;
      background-image: url(../assets/open-book-blog.jpg);
      max-width: 626px;
      aspect-ratio: 626 / 464;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: solid 1px #707070;
    }
    .details2 {
      color: white;
      max-height: 319px;
      width: 413px;
      text-align: center;
      padding-top: 72px;
      font-family: Segoe UI;
      margin-left: 258px;

      .header2 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 59px;
        width: 450px;
      }
      .pg2 {
        margin-bottom: 30px;
        font-size: 16px;
      }
      .readMoreButton {
        @include btn-add-to-cart;
        border-color: white;
      }
    }
  }

  .section3 {
    display: flex;
    align-items: flex-start;
    max-width: 1464px;
    height: 463px;
    align-items: flex-start;
    background-color: $site-blue;
    margin: 0 auto;
    margin-top: 170px;

    .eRead {
      flex: 1;
      background-image: url(../assets/ereading-blog.jpg);
      max-width: 626px;
      aspect-ratio: 626 / 464;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: solid 1px #707070;
    }
    .details3 {
      color: white;
      max-height: 319px;
      width: 413px;
      text-align: center;
      padding-top: 72px;
      font-family: Segoe UI;
      margin-left: 258px;

      .header3 {
        margin-bottom: 62px;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 59px;
      }
      .pg3 {
        margin-bottom: 62px;
        font-size: 16px;
      }
      .readMoreButton {
        @include btn-add-to-cart;
        border-color: white;
      }
    }
  }
}
@media (max-width: 769px) {
  .blog {
    height: 1424px;
    .section1 {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      max-width: 552px;
      max-height: 229px;
      align-items: flex-start;
      justify-content: center;
      background-color: $site-blue;
      margin: 0 auto;
      margin-top: 170px;
      gap: 42px;

      .book1 {
        flex: 1;
        margin-top: 42px;
        background-image: url(../assets/becoming.jpg);
        max-width: 96px;
        aspect-ratio: 96 / 146;
        background-color: pink;
      }
      .details {
        color: white;
        max-height: 319px;
        width: 223px;
        text-align: center;
        justify-content: center;
        padding: 0;
        font-family: Segoe UI;
        align-self: center;
        .header1 {
          margin-bottom: 22px;
          font-size: 7px;
          font-weight: bold;
        }
        .pg1 {
          margin-bottom: 14px;
          font-size: 11px;
          width: 223px;
          justify-self: center;
          align-self: center;
        }
        .readMoreButton {
          @include btn-add-to-cart;
          width: 50%;
          height: 34px;
          font-size: 12px;
          border-color: white;
        }
      }
    }

    .section2 {
      display: flex;
      align-items: flex-start;
      max-width: 552px;
      height: 229px;
      align-items: flex-start;
      background-color: $site-blue;
      margin: 0 auto;
      margin-top: 170px;
      margin-bottom: 20px;

      .glasses {
        flex: 1;
        background-image: url(../assets/open-book-blog.jpg);
        min-width: 300px;
        min-height: 229px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: solid 1px #707070;
        position: absolute;
      }
      .details2 {
        color: white;
        min-height: 223px;
        min-width: 180px;
        padding-top: 20px;
        font-family: Segoe UI;
        margin-left: 320px;
        align-items: center;
        justify-content: center;

        .header2 {
          font-size: 7px;
          font-weight: bold;
          margin-bottom: 20px;
          width: 245px;
        }
        .pg2 {
          margin-bottom: 0px;
          font-size: 11px;
          margin-bottom: 20px;
          width: 220px;
        }
        .readMoreButton {
          @include btn-add-to-cart;
          width: 50%;
          height: 34px;
          font-size: 12px;
          border-color: white;
        }
      }
    }

    .section3 {
      display: flex;
      align-items: flex-start;
      max-width: 552px;
      height: 229px;
      align-items: flex-start;
      background-color: $site-blue;
      margin: 0 auto;
      margin-top: 170px;
      margin-bottom: 20px;

      .eRead {
        flex: 1;
        background-image: url(../assets/ereading-blog.jpg);
        width: 300px;
        height: 229px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: solid 1px #707070;
        position: absolute;
      }
      .details3 {
        color: white;
        min-height: 223px;
        min-width: 180px;
        padding-top: 20px;
        font-family: Segoe UI;
        margin-left: 310px;

        justify-content: center;

        .header3 {
          font-size: 7px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        .pg3 {
          margin-bottom: 0px;
          font-size: 11px;
          margin-bottom: 20px;
          width: 220px;
        }
        .readMoreButton {
          @include btn-add-to-cart;
          width: 50%;
          height: 34px;
          font-size: 12px;
          border-color: white;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .blog {
    height: 844px;

    .section1 {
      display: flex;
      max-width: 318px;
      height: 118px;
      background-color: $site-blue;
      margin: 0 auto;
      margin-top: 80px;

      .book1,
      .book2 {
        flex: 1;
        background-image: url(../assets/becoming.jpg);
        max-width: 45px;
        aspect-ratio: 45 / 69;
        background-color: pink;
        margin-top: 16px;
        padding-left: 10;
      }

      .details {
        color: white;
        width: 150px;
        font-family: Segoe UI;
        margin-top: -10px;

        .header1 {
          margin-bottom: 0px;
          font-size: 4px;
          font-weight: bold;
          height: 20px;
        }

        .pg1 {
          margin-bottom: 0;
          font-size: 6px;
          width: 142px;
          align-self: center;
          height: 45px;
        }

        .readMoreButton {
          @include btn-add-to-cart;
          width: 50%;
          height: 20px;
          font-size: 6px;
          border-color: white;
        }
      }
    }
    .section2 {
      display: flex;
      align-items: flex-start;
      max-width: 318px;
      height: 122px;
      align-items: flex-start;
      background-color: $site-blue;
      margin: 0 auto;
      margin-top: 76px;
      margin-bottom: 20px;

      .glasses {
        flex: 1;
        background-image: url(../assets/open-book-blog.jpg);
        min-width: 165px;
        min-height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: solid 1px #707070;
      }
      .details2 {
        color: white;
        min-height: 84px;
        min-width: 146px;
        font-family: Segoe UI;
        justify-content: center;
        margin-left: 170px;
        margin-top: -10px;

        .header2 {
          font-size: 4px;
          font-weight: bold;
          margin-bottom: 20px;
          width: 160px;
          height: 0px;
        }
        .pg2 {
          margin-bottom: 0px;
          font-size: 6px;
          margin-bottom: 20px;
          width: 146px;
          height: 20px;
        }
        .readMoreButton {
          @include btn-add-to-cart;
          width: 50%;
          height: 20px;
          font-size: 6px;
          border-color: white;
        }
      }
    }
    .section3 {
      display: flex;
      align-items: flex-start;
      max-width: 318px;
      height: 122px;
      align-items: flex-start;
      background-color: $site-blue;
      margin: 0 auto;
      margin-top: 76px;
      margin-bottom: 20px;

      .eRead {
        flex: 1;
        max-width: 161px;
        max-height: 122px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: solid 1px #707070;
      }
      .details3 {
        color: white;
        min-height: 84px;
        min-width: 146px;
        font-family: Segoe UI;
        justify-content: center;
        margin-left: 170px;
        margin-top: -10px;

        .header3 {
          font-size: 4px;
          font-weight: bold;
          margin-bottom: 20px;
          width: 160px;
          height: 0px;
        }
        .pg3 {
          margin-bottom: 0px;
          font-size: 6px;
          margin-bottom: 20px;
          width: 146px;
          height: 20px;
        }
        .readMoreButton {
          @include btn-add-to-cart;
          width: 50%;
          height: 20px;
          font-size: 6px;
          border-color: white;
        }
      }
    }
  }
}
