@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/segoeuil.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/seguili.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/segoeuisl.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/seguisli.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/segoeui.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/segoeuii.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/seguisb.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/seguisbi.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/segoeuib.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/segoeuiz.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/seguibl.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../css/fonts/seguibli.ttf);
  font-weight: 900;
  font-style: italic;
}
