footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 92px;
  background-color: #587c83;
  font-family: Segoe UI;
  padding: 0 20px;
}

.copy {
  color: white;
  width: 230px;
  font-size: 16px;
  white-space: nowrap;
  p {
    margin: 0;
  }
}

.flinks {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px;

  a {
    text-decoration: none;
    color: white;
  }
}

.flogos {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: space-around;

  .fb,
  .in,
  .tw {
    width: 44px;
    height: 44px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .fb {
    background-image: url(../assets/logos/white/facebook_w.png);
  }

  .in {
    background-image: url(../assets/logos/white/instagram_w.png);
  }

  .tw {
    background-image: url(../assets/logos/white/twitter_w.png);
  }
}
@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
  footer {
    flex-direction: row;
    height: 92px;
    padding: 0 20px;
  }

  .flinks {
    max-width: none;
    font-size: 11px;
    justify-content: space-evenly;
    margin: 0;
  }

  .copy {
    font-size: 11px;
  }

  .flogos {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .fb,
    .in,
    .tw {
      width: 22px;
      height: 22px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
@media (max-width: $breakpoint-mobile) {
  footer {
    flex-direction: row;
    height: 92px;
    padding: 0 20px;
    background-color: red !important;
  }

  .flinks {
    max-width: none;
    font-size: 6px;
    justify-content: space-evenly;
    margin: 0;
  }

  .copy {
    font-size: 6px;
  }

  .flogos {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .fb,
    .in,
    .tw {
      width: 15px;
      height: 15px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
