nav {
  padding-top: 22px;
  height: 107px;
  border-bottom: 2px solid $site-black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "seoReg";
  padding: 22px 133px 0 33px;
  a {
    font-size: 16px;
    color: $site-black;
    text-decoration: none;
  }
  .active {
    font-weight: 700;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 23px;
    p {
      transform: translateY(14px);
    }
  }
  .search {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .input {
      height: 44px;
      width: 100%;
      max-width: 604px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      input {
        border: 0;
        background-color: #c4d0d3;
        opacity: 100%;
        color: #6b7274;
        height: 100%;
        width: 100%;
        padding-left: 42px;
      }
      img {
        opacity: 45%;
        padding: 8px 0 11px 9px;
        height: 44px;
        position: absolute;
        left: 0;
      }
    }
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 82px;
  }
  .account {
    padding-left: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    a {
      color: $site-black;
      vertical-align: middle;
      position: relative;
      img {
        transform: translateX(12px);
        position: absolute;
        top: -12px;
        height: 47px;
      }
      .cartImg {
        transform: translateX(0px);
      }
    }
  }
}
