nav {
  height: 107px;
  border-bottom: 2px solid $site-black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  a {
    font-size: 16px;
  }
  .search {
    flex: 1;
  }
  .account {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img {
      height: 47px;
    }
  }
}
